body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}

.card {
    border-radius: 10px;
}

.login-box {
    max-width: 400px;
    margin: auto;
}

h3, h4 {
    font-weight: 600;
}

table th, table td {
    vertical-align: middle;
    text-align: center;
}
